:root {
  --color-primary: #6366f1;
}

body {
  font-family: "Manrope", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

[data-bs-theme="dark"] body {
  background-color: #0b0f19 !important;
  background-color: #1a1a2e;
  background-image: radial-gradient(
      circle at 15% 25%,
      rgba(120, 43, 224, 0.4),
      transparent 40%
    ),
    radial-gradient(circle at 85% 70%, rgba(33, 150, 243, 0.3), transparent 40%),
    radial-gradient(
      circle at 50% 50%,
      rgba(186, 104, 200, 0.25),
      transparent 30%
    );
}

[data-bs-theme="light"] body {
  background-image: radial-gradient(
      circle at 20% 25%,
      rgba(135, 206, 250, 0.4),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 75%,
      rgba(204, 191, 255, 0.5),
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 15%,
      rgba(160, 240, 220, 0.3),
      transparent 35%
    );
}
[data-bs-theme="dark"] .hero-section{
  background-color: rgba(33, 37, 41, 0.5);
} 
[data-bs-theme="light"] .hero-section{
   background-color: rgba(222, 226, 230, 0.7);
} 



/* --- Navbar --- */
[data-bs-theme="dark"] .dropdown-menu {
  background-color: #0b0f19 !important;
  border-color: rgba(255, 255, 255, 0.15) !important;
}
[data-bs-theme="dark"] .dropdown-item:hover,
[data-bs-theme="dark"] .dropdown-item:focus {
  background-color: #1a1e27 !important;
  color: #fff !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #6366f1 !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, 0.25) !important;
}

/* Estilos para el elemento activo dentro del dropdown */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #6366f1 !important;
  color: #fff !important;
}

.navbar-logo {
  color: var(--color-primary);
}

/* --- Botones --- */
.btn-primary {
  background-color: #6366f1 !important;
  border-color: #6366f1 !important;
  color: #fff !important;
}
.btn-outline-primary {
  border-color: #6366f1 !important;
  color: #6366f1 !important;
}

.btn-primary:hover {
  background-color: #4044ee !important;
  border-color: #4044ee !important;
  color: #fff !important;
}
.btn-outline-primary:hover {
  background-color: #4044ee !important;
  border-color: #4044ee !important;
  color: #fff !important;
}

.btn-primary:active {
  background-color: #4044ee !important;
  border-color: #4044ee !important;
  color: #fff !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(99, 102, 241, 0.5) !important;
}

.btn-primary:disabled {
  background-color: #6366f1 !important;
  border-color: #6366f1 !important;
  color: #fff !important;
  opacity: 0.65 !important;
}

/* Estilos personalizados para el botón */
.btn-purple {
  background-color: #8a2be2; /* Un tono de púrpura */
  color: white;
}
.btn-purple:hover {
  background-color: #6a1fa6; /* Un tono más oscuro al pasar el ratón */
  color: white;
}

/* Estilos cards principales */
.text-underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.text-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 200ms linear;
}

.text-underline:hover::after {
  width: 100%;
}

.container-img {
  overflow: hidden;
}
.img-zoom {
  transition: 300ms;
  filter: brightness(0.8);
}
.img-zoom:hover {
  transform: scale(1.2);
  filter: brightness(1);
}

/* Estilos cards home */
.bg-orange {
  background: linear-gradient(to bottom, #f19029, #f47e1f);
}
.bg-blue {
  background: linear-gradient(135deg, #5898dd, #0056b3);
}
.bg-yellow {
  background: linear-gradient(135deg, #34301c, #0c0b05);
}

.tilt-card {
  color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.tilt-inner {
  transform: translateZ(40px);
}

.tilt-card:hover {
  transform: scale(1.03);
}

.card-logo {
  width: 200px;
  max-height: 100px;
}

.link-card-logo {
  text-decoration: none;
}
